{% include "header.html" %}
<div class="product-view">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                        </div>
                    </div>
                    {% for obj in list %}
                    <div class="col-lg-4">
                        <div class="product-item">
                            <div class="product-image">
                                
                                    <img src="{{ obj.image.url }}" alt="Product Image" height = "400px" width="500px">
                              {% if request.user.id %}
                                <div class="product-action">
                                    <form action = 'product-list/addtocart' method = 'POST'>
                                        {% csrf_token %}   
                                        <input type = "hidden" name = "productid" value="{{obj.id}}">
                                        <input type = "hidden" name = "form_type" value="cart_form">
                                        <button type="submit"><i class="fa fa-cart-plus"></i></button> 
                                        
                                  </form> 
                                    <form action = 'product-list/addtowl' method = 'POST'>
                                        {% csrf_token %}
                                        <input type = "hidden" name = "productid" value="{{obj.id}}">
                                        <input type = "hidden" name = "form_type" value="wl_form">
                                    <button type="submit"><i class="fa fa-heart"></i></button>
                                    </form>
                                </div>
                                {% endif %} 
                            </div>
                            <div class="product-content">
                                {% for ret in retailer %}
                                {% if ret.id == obj.retailer_id %}
                                <p>{{ret.cname}}</p>
                                {% endif %}
                                {% endfor %}
                                <div class="title">{{obj.name}}</div>
                                <br>
                                  <b><i class="fa fa-rupee" style="font-size:20px;color:#007bff;">{{obj.price}}</i></b>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}