<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<body>
    <form action="add_item" method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label><b>Product Name : </b></label>
        <input type='text' placeholder='Enter Product Name' name = 'pname'>
        <br>
        <br>
        <label><b>Product Price : </b></label>
        <input type='Number' placeholder='Enter Product Price' name = 'price'>
        <br>
        <br>
        <label><b>Chose Image : </b></label>
        <input type="file" name="image" accept="image/*"></input>
        <br>
        <br>
        <label><b>Product Category : </b></label>
        <select name="cat">
            <option value="women">women</option>
            <option value="men">Men</option>
        </select>
        <br>
        <br>
    <button type="submit" value="Submit">Add Item</button>
    </form>
</body>
</html>